body {
    text-align: center;
}

.btn {
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}


.btn-container {
    display: flex;
    justify-content: center;
    
}

.yellow {
    background-color: #f99b45;
}

.red {
    background-color: #d95980;
}   

.green {
    background-color:#63aac0;
}   

.purple {
    background-color: #819ff9;
}

.flash {
    background-color: white !important;
    box-shadow: 0 0 20px white;
}

.userflash {
    background-color: green !important;
    box-shadow: 0 0 25px yellow;
}
